[mysqld]
# Authentication settings
default_authentication_plugin=mysql_native_password
skip-host-cache
skip-name-resolve

# Allow connections from any host
bind-address=0.0.0.0

# Networking
max_connections=1000
max_connect_errors=10000

# Security settings
secure-file-priv=NULL

# General settings
character-set-server=utf8mb4
collation-server=utf8mb4_0900_ai_ci

# Logging
general_log=0
log_error=/var/log/mysql/error.log

# InnoDB settings
innodb_buffer_pool_size=128M 